<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}School Store{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'order' %}">Order</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
        <li>
          <a href="#">Department</a>
          <ul>
            {% for department in departments %}
            <li><a href="{{ department.wikipedia_url }}">{{ department.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
